version: '3.6'

services:
  jenkins:
    container_name: jenkins
    hostname: jenkins
    image: ddtmx/jenkins
    entrypoint: ["/sbin/tini" , "--", "/usr/jenkins/init.sh"]
    ports:
      - 8880:8080
      - 50000:50000
    environment:
      - JENKINS_UC=https://updates.jenkins.io
      - JENKINS_UC_EXPERIMENTAL=https://updates.jenkins.io/experimental
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
      - JENKINS_OPTIONS=--argumentsRealm.passwd.admin=password --argumentsRealm.roles.user=admin --argumentsRealm.roles.admin=admin
      - JENKINS_SLAVE_AGENT_PORT=50000
      - SESSION=$SESSION_ID
      - IP=$IP
    # create soft link if needed
    volumes:
      - "jenkins:/var/jenkins_home"                  # persistent
      - "/var/run/docker.sock:/var/run/docker.sock"  # docker from jenkins
      # - "/bin/docker:/bin/docker"                    # docker from jenkins
      - "/usr/bin/docker:/bin/docker"                    # docker from jenkins
      - "./services/jenkins:/usr/jenkins"
      - "/usr/app/:/app/repo"
    tty: true 

  selenium:
    container_name: selenium
    hostname: selenium
    image: selenium/standalone-chrome
    ports:
      - 4441:4444

  tests:
    build: ./tests
    container_name: tests
    hostname: tests
    image: tests
    command: |
       pytest --html=report.html --self-contained-html test_e2e.py::Test::test2
    tty: true


volumes:
  jenkins: 


networks:
  default:
    external:
      name: app
